body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}

/* Header Style */
.jon-header .navbar-brand {
	font-size: 25px;
	font-weight: 500;
}
.jon-header span {
	display: inline-block;
	background: #6278df;
	color: #fff;
	height: 43px;
	width: 40px;
	text-align: center;
	border-radius: 10px;
	font-size: 28px;
	position: relative;
	top: 3px;
}
.jon-menu .nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.jon-header{
    background: #fff !important;
}

/* Slider Section */
.slider-section{
    background: url(/img/banner.jpeg) no-repeat center center;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.slider-caption h4 {
    margin-bottom: 35px;
}
.slider-caption h2 {
    margin-bottom: 50px;
    font-size: 46px;
}

.slider-caption .btn {
    background: #5ba533;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
}
.slider-caption .form-control {
    padding: 18px 20px;
}
/* about section */
.about-section{
    background: #f7f9ff;
}
.about-text-left{
    margin-top: 100px;
}
.about-text-left p{
    font-size: 25px;
    line-height: 40px;
}
/* feature section */
.feature-content {
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-text-sec{
    width: 60%;
    padding: 25px;
}
.left-img-sec img{
    height: 100%;
    width: auto;
    max-width: inherit;
    position: relative;
    left: -80px;
}
/* portfolio section */
.portfolio-item{
    position: relative;
}
.portfolio-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98, 120, 223,.7);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: .5s;
}
.portfolio-item:hover::after{
    opacity: 1;
    visibility: visible;
}
/* pricing secdtion */
.pricing-section{
    background: #f7f9ff;
}
.pricing-item{
    background: #fff;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.pricing-item h1{}
.pricing-item p{ 
    font-size: 20px;
}
.pricing-item ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 45px;
}
.pricing-item ul li{
    font-size: 20px;
    color: #777;
    margin: 20px 0;
}
.pricing-item ul li span{
    color: #657be0;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
    display: inline-block
}
.pricing-item-btn{}
.pricing-item-btn a {
    border: 2px solid #657be0;
    color: #657be0;
    padding: 15px 30px;
    font-size: 22px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
}
/* testimonial section */
.author-info{
    width: 220px;
    margin: auto;
}
.author-info img{
    width: 85px;
    margin-right: 15px;
}
.user-details{
    text-align: left;
    position: relative;
    top: 10px;
}
.testimonial-item span i{
    color: #767676;
    width: 50px;
}
/* about section */
.about-section-bottom{
    background: #f7f9ff;
    padding: 100px 0;
}
.about-item{
    margin-top: 90px;
}
.about-item img {
    width: 110px;
    height: auto;
    margin-left: 20px;
    margin-top: -50px;
}
/* footer */
.footer{
    background: #f7f9ff;
}